hr {
  background-color: white;
  position: relative;
  top: 125px;
}

.second-hr {
  background-color: white;
  position: relative;
  top: 110px;
}




.about-page {
  background-color: none;
  position: relative;
  top: 130px;

  p {
  color: white;
  }
}
