<div class="container">
  <h1>About page</h1>


 <!--  <hr> -->

  <div class="about-page">
    <!-- <p id="underline-about-page">Hi there!</p> -->
    <p>


    My names Christian and I'm on the look out for cool projects to work on, or creative companies to work with. Currently geeking-out on all things rails - but not at the exclsuion of familliar favourites. Comfortable tech stack include HTML, CSS Javascript and Ruby</p>

    <p>Interested in the tiny details and have an unusual desire in understanding how things work. Cannot confess to know it all but feel comfortable with the unfamilliar and digging out the answers.   </p>

    <p>Aside from keeping my code DRY, in my spare time I'm a keen Basketaball player, enjoy a good book and a nice glass of red wine. Click through to my rceent projects and/or send me an email </p>

  </div>

  <hr class ="second-hr">

  <%= link_to root_path do %>
    <i class="hvr-grow fas fa-arrow-left"></i>
 <% end %>
</div>


