<div class="container">

<h1 >air bnb clone</h1>

<div class="cards">
  <div class="card-category image" id= "testing" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "first.png"%>) " >
<!-- style="background-image: url(<%= image_path "weather-app.png"%>)"
style="background-image: /*linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), */url(<%= image_path "airbnb.png"%>) " -->
  </div>

  <div id ="testing-2"class="card-category image" >

  </div>

  <div id="testing-3"class="card-category image" >

  </div>

  <div id="testing-3"class="card-category image" >

  </div>

  <div id="testing-3"class="card-category image" >

  </div>

  <div id="testing-3"class="card-category image" >

  </div>
</div>


<a href="/pages/projects"><i class="hvr-grow fas fa-arrow-left"></i></a>





</div>

