<div class="container">

<h1 >air bnb clone</h1>

<div class="cards">
  <div class="card-category image" id= "testing">

  </div>

  <div id ="testing-2"class="card-category image" >

  </div>

  <div id="testing-3"class="card-category image" >

  </div>

  <div id="testing-4"class="card-category image" >

  </div>

  <div id="testing-5"class="card-category image" >

  </div>


</div>


<a href="/pages/projects"><i class="hvr-grow fas fa-arrow-left"></i></a>





</div>

