



  <div class="container">


    <ul class="list-inline tabs-underlined">
      <li>
          <a href="/pages/about" class="tab-underlined active hvr-buzz">About </a>
      </li>
      <li>

         <a href="/pages/projects" class="tab-underlined hvr-buzz">Projects</a>
      </li>
    </ul>



<%= mail_to "christian.s5547@gmail.com" do %>
   <i class="fas fa-envelope mail-envelope"></i>
<% end %>


    <div id="center">
      <h1>HI,&nbsp; I'M CHRISTIAN </h1>
      <p> - Full-stack developer | writer | blogger </p>

        <div class="footer-links">
          <a href="https://github.com/christiansalako" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.instagram.com/ct372/" target="_blank"><i class="fab fa-instagram"></i></a>

          <a href="https://www.linkedin.com/in/christian-salako-27a7661a2/?trk=public-profile-join-page" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://twitter.com/christiansalak3" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</div>




