

<div class="container">
<h1>Recent Projects</h1>
  <div class="cards">
    <div class="button" data-hover="Phone app showing if an item can be recycled" data-test="I'm acive">
      <div class="card-category test">
        <%# image_tag ("recyclable-logo"), class: "card-category"%>
      </div>
    </div>


    <div class="button" data-hover="Phone web recycled" data-test="I'm acive">
      <div class="card-category test">
        air bnb clone
      </div>
    </div>

    <div class="button" data-hover="Phone web recycled" data-test="I'm acive">
      <div class="card-category test">
        Search Films
      </div>
    </div>

    <div class="button" data-hover="Phone web recycled" data-test="I'm acive">
      <div class="card-category test">
        longest word game
      </div>
    </div>


    <div class="button" data-hover="Phone web recycled" data-test="I'm acive">
      <div class="card-category test">
        Weather app
      </div>
    </div>



  </div>



 <%= link_to root_path do %>
    <i class="hvr-grow fas fa-arrow-left"></i>
<% end %>
</div>
